<div class="container-fluid">
  <form>

    <div class="form-group">
      <label>Unesite dugi opis:</label>
      <input type="text" class="form-control" #longDescription>
    </div>

    <button class="btn btn-primary" type="submit"
            (click)="search(longDescription.value); longDescription.value='';">Pretraži cjepiva
    </button>
  </form>
</div>

<div *ngIf="sideEffects  && sideEffects.length; else elseBlock">
  <h2>Nuspojave</h2>
  <ul class="vaccines container-fluid">
    <li *ngFor="let effect of sideEffects; let i = index">
      <a (click)="onSelect(effect)" [class.selected]="effect===selectedSideEffect">
        <span class="badge">{{i + 1}}</span>
        {{effect.shortDescription}}
      </a>
    </li>
  </ul>
</div>
<ng-template #elseBlock>
  <div class="details2">
    <span>Nema prijavljenih nuspojava s tim opisom</span>
  </div>
</ng-template>


