<h2>Nuspojave</h2>
<ul class="vaccines container-fluid">
  <li *ngFor="let effect of sideEffects; let i = index">
    <a (click)="onSelect(effect)" [class.selected]="effect===selectedSideEffect">
        <span class="badge">{{i+1}}</span>
      {{effect.shortDescription}}
    </a>
  </li>
</ul>


