<div class="details" *ngIf="vaccine">
  <h2>Detalji o cjepivu - {{vaccine.manufacturerName}}</h2>
  <div><span>Proizvođač: </span>{{vaccine.manufacturerName}}</div>
  <div><span>Broj doza koje pacijent treba primiti: </span>{{vaccine.requiredDose}}</div>
  <app-message [manufacturerName] = vaccine.manufacturerName></app-message>
  <app-side-effect-research-name [researchName]="vaccine.researchName"></app-side-effect-research-name>
</div>
<div>
  <nav>
    <a  (click)="goBack()" routerLinkActive="active" >Back</a>
  </nav>
</div>


