<div class="container-fluid">
  <h2>Unesi novo cjepivo</h2>
  <form>

    <div class="form-group">
      <label>Istraživački naziv:</label>
        <input type="text" class="form-control" #researchName>
    </div>

    <div class="form-group">
      <label>Naziv proizvođača:</label>
      <input type="text" class="form-control" #manufacturerName>
    </div>

    <div class="form-group">
      <select class="custom-select" #vaccineType>
        <option *ngFor="let type of types">{{ type }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Broj doza potrebnih za administraciju cjepiva:</label>
      <input type="number" class="form-control" #requiredDose>
    </div>

    <div class="form-group">
      <label>Broj dostupnih doza:</label>
      <input type="number" class="form-control" #availableDose>
    </div>

    <button class="btn btn-primary" type="submit"
    (click)="add(researchName.value, manufacturerName.value, vaccineType.value,
    +requiredDose.value, +availableDose.value); researchName.value=''; manufacturerName.value='';
     vaccineType.value=''; requiredDose.value=''; availableDose.value='';">Unesi cjepivo</button>
  </form>
  <p>*Nakon submita osvježiti prozor</p>
</div>

