<h1>{{title}}</h1>
<nav>
  <a routerLink="/vaccines" routerLinkActive="active">Cjepiva</a>
  <a routerLink="/sideEffects" routerLinkActive="active" class="shift">Nuspojave</a>
  <a routerLink="/search" routerLinkActive="active" class="shift">Pretraži nuspojave</a>
</nav>
<router-outlet></router-outlet>
