.fa-syringe{
  padding-left: 4%;
  margin-right: 15px;
}
button.delete {
  position: absolute;
  right: 15px;
  top:5px;
  background-color: white;
  color:  #525252;
  font-size: 20px;
  padding: 1px 10px 3px 10px;
  border-radius: 4px;
}
button.delete:hover {
  background-color: #525252;;
  color: white;
}

