<h2>Cjepiva</h2>
<ul class="vaccines container-fluid">
  <li *ngFor="let vaccine of vaccines">
      <a (click)="onSelect(vaccine)" [class.selected]="vaccine===selectedVaccine">
        <span class="badge">{{vaccine.researchName}}
            <span class="fas fa-syringe"></span>
        </span>
        {{vaccine.manufacturerName}}
      </a>
    <button class="delete" (click)="deleteVaccine(vaccine)">x</button>
  </li>
</ul>
<div>
  <app-form></app-form>
</div>





