<div class="details" *ngIf="sideEffect">
    <div>
      <p>Opis - {{sideEffect.longDescription}}</p> <br>
      <p>Učestalost - {{sideEffect.frequency}}%</p>
    </div>
</div>
<div>
  <nav>
    <a  (click)="goBack()" routerLinkActive="active" >Back</a>
  </nav>
</div>


