<div *ngIf="researchName  && sideEffects.length; else elseBlock" class="details2">
  <div><span>Nuspojave prijavljene za ovo cjepivo:</span></div> <br>
  <ul>
    <li *ngFor="let sideEffect of sideEffects">
      {{sideEffect.shortDescription}} - {{sideEffect.frequency}}% cjepljenih prijavilo
    </li>
  </ul>
</div>
<ng-template #elseBlock>
<div class="details2">
  <span>Nema prijavljenih nuspojava za ovo cjepivo</span>
</div>
</ng-template>
