h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  font-weight: bold;
}
h2{
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 3em;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:hover {
  color: #125699;
  background-color: #CFD8DC;
  text-decoration: none;
  cursor: pointer;
}
nav a.active {
  color: white;
  background-color: darkseagreen;
  text-decoration: none;
}
.container-fluid{
  width: 50%;
  margin: 0;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.details{
  padding: 2% 0%;
}
nav a{
  margin-top: 10px;
}
h2{
  padding: 2% 0 2% 0;
  font-size: 35px ;
}
.vaccines{
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 50%;
}
.vaccines .badge {
  height: 50px;
  line-height: 50px;
  font-weight: normal;
  font-size: 20px;
  color: white;
  background-color:#405061;
  position: relative;
  left: 0px;
  min-width: 16px;
  width: 45%;
  text-align: right;
  margin-right: .8em;
  border-radius: 15px 0px 0px 15px;
}
.vaccines li{
  margin: 1.2% 0 1.2% 0;
  background-color: #eeeeee;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
  height: 50px;
}
.vaccines a{
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  border-radius: 15px;
}
.vaccines a:hover{
  background-color:#c2c3c4;
  color: #125699;
}
.vaccines a.selected:hover {
  background-color: darkseagreen;
  color: white;
}
.vaccines a.selected {
  background-color: #eeeeee;
  color: black;
}
.details{
  padding: 5% 0%;
}
.details2{
  padding-top: 3%;
}
